// Place all the styles related to the ShortUrl controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Sharrre Example CSS */

  #example5
  {
  	width: 80%;
  	margin: .5em auto; 
  	text-align: center;
  	clear: both;
  }

  .sharrre .button{
    float:left;
    width:60px;
  }